<div class="container-sm m-3">

  <h3><strong>Account Login</strong></h3>

  <form action="/login" method="POST">

    <div class="mb-3">
      <label for="email"></label>
      <input type="text" placeholder="Email" name="email" id="email" class="form-control" required>
      <label for="password"></label>
      <input type="password" placeholder="Password" name="password" id="password" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-primary my-3">Sign in</button>
    <button type="reset" class="btn btn-outline-danger">重新輸入</button>

  </form>

</div>